:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: #fcfcfc;

  --team-shell-color:#646cff;
  --team-header-color: #ba3448;
  --team-catalogue-color:#ffef64;
  --team-basket-color:#64ffe5;

  --team-align-color: #999;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  min-width: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
}

#title {
  border-top: .25em dashed var(--team-align-color);
  border-left: .25em dashed var(--team-align-color);
  border-right: .25em dashed var(--team-align-color);
  margin: .5em;
}

main {
  margin: 2em;
}

#header {
  border-top: .25em dashed var(--team-align-color);
  border-left: .25em dashed var(--team-align-color);
  border-right: .25em dashed var(--team-align-color);
}
#checkout {
  border-top: .25em dashed var(--team-align-color);
  border-left: .25em dashed var(--team-align-color);
  border-right: .25em dashed var(--team-align-color);
}
#catalogue {
  overflow-y: scroll;
  flex: 0.5;
  border-top: .25em dashed var(--team-align-color);
  border-left: .25em dashed var(--team-align-color);
  border-right: .25em dashed var(--team-align-color);
}
#basket {
  transition: flex 0.3s;
  height: 100%;
  overflow-y: scroll;
  position: sticky;
  top: .5em;
  flex: 0.5;
  border-top: .25em dashed var(--team-align-color);
  border-left: .25em dashed var(--team-align-color);
  border-right: .25em dashed var(--team-align-color);
}

.hidden {
  display: none !important;
}
.flex-1 {
  flex: 1 !important;
}

#accordion {
  display: flex;
  flex-direction: column;
  flex: 0.5;
}

.shell {
  padding: 1em;
  border-radius: 1em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}



main > section {
  display: flex;
  gap: 2em;
  justify-content: center;
  align-items: flex-start;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 2.2em;
  line-height: 1.1;
}

